select {
    margin-left: 1vw;
    margin-bottom: 2vh;
    /*width: 10vw;*/
    text-align: center;
    padding: 0.7rem;
    font-weight: bold;
    font-size: small;
}

textarea {
    resize: none;
}


a {
    margin-bottom: 2rem;
    background: #3F83CF;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.7rem;
    font-weight: bold;
    margin-left: 1vw;
}



