* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-color: #3F83CF;
}

nav {
    background-color: #46D4BB;
    display: grid;
    grid-template-columns: 45% 55%;
    flex-direction: row;
}

h2 {
    font-size: xx-large;
    text-align: center;
    margin: 2rem;
    font-family: sans-serif;
    color: white;
}

h3 {
    margin: 2em;
    font-family: sans-serif;
    font-size: x-large;
    color: black;
}

nav img {
    margin-left: 2em;
}
nav h1 {
    text-align: left;
    margin: auto 0;
    color: black;
    /*font-size: xx-large;*/
    font-family: sans-serif;
}

.info-section {
    background-color: #3F83CF;
}

.info-section h1 {
    padding: 1.5em;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}

.info-images ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-images ul li {
    /*padding: 2em;*/
    margin-bottom:1em;
}



ul li p {
    max-width: 20vw;
}

.qr-code {
    width: 100%;
    height: 100%;
}

ul li img {
    width: 20vw;
    /*height: 32vh;*/
    height: 20vw;
    animation: 1s ease-out 0s 1 picturesSlideIn;
    margin-bottom: 1em;
    transition: transform 200ms;
}



/*ul li img:hover {*/
/*    transform: scale(1.05);*/
/*}*/


@keyframes picturesSlideIn {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

li {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    font-size: x-large;
    font-family: sans-serif;
}

.download h2 {
    color: black;
    margin: 1rem;
}

.download {
    background-color: white;
}

.link {
    /*min-width: 150vw;*/
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}

.link img {
    width: initial;
    height: initial;
    margin-bottom: 5rem;
    transition: transform 200ms;
}
/*.link img:hover {*/
/*    transform: scale(1.05);*/
/*}*/

.buttons {
    width: 40%;
    /*height: 36vh;*/
    gap: 3rem;
    display: grid;
}

.block{
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #292722;
    border-radius: 1em;
    transition: transform 200ms;
    font-size: x-large;
    font-family: sans-serif;
    text-decoration: none;
}

.block:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.about {
    width: 100%;
    background-color: #46D4BB;
    padding-bottom: 1rem;
}

.about p {
    font-size: x-large;
    margin: 2em;
    font-family: sans-serif;
    color: black;
    text-align: left;
}

footer {
    height:10vh;
    background-color: #292722;
}

@media only screen and (max-width: 800px) {
    .info-images ul {
        display: grid;
    }

    .link {
        display: grid;
        gap: 1rem;
        width: 100%;
    }

    .buttons {
        width: 100%;
    }
}