h1, h3 {
    margin-left: 1vw;
}

button {
    display: block;
    margin: auto;
    width: 50%;
    height: 2.5rem;
    background-color: #3F83CF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
}

form div {
    display: block;
    margin: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-left: 1vw;
    font-size: large;
}

textarea, input {
    margin: auto auto 1rem;
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: serif;
    width: 95%;
    font-size: medium;
    border: none;
}

main {
    background-color: gray;
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
}

@media only screen and (max-width: 500px){
    main {
        width: 100%;
        margin: 0;
        padding: 0;
        background: initial;
    }

    input, textarea {
        border: 1px solid black;
    }
}
