* {
    box-sizing: border-box;
}

p {
    margin-right: 1rem;
}

.quote-container {
    background-color: gray;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.quote-container div {
    display: flex;
    flex-direction: row;
}

a {
    margin-bottom: 2rem;
    background: #3F83CF;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.7rem;
    font-weight: bold;
}